---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Me - Amna Rafi">
  <main>
    <p>
      I'm Amna Rafi, a graduate Computer Science student from FAST NUCES, with a strong passion for building impactful digital products that combine thoughtful design and robust engineering.
    </p>
    <p>
      My experience lies at the intersection of product design, web development, and user experience. I've contributed to real-world projects such as an e-commerce fashion platform and a visual mood-tracking app—leading everything from wireframing and usability testing to full-stack development using the MERN stack.
    </p>
    <p>
      I’ve completed internships in both web development and product design, where I worked in cross-functional agile teams, translating user needs into intuitive solutions and scalable systems. My work reflects a user-first mindset, an eye for detail, and the ability to collaborate effectively across disciplines.
    </p>
    <p>
      Outside of tech, I’m passionate about fashion styling, digital art, and content creation. I enjoy blending creativity with structure—whether that’s in user journeys or visual storytelling.
    </p>
  </main>
</Layout>

<style>
  p {
    max-width: 90ch;
    color: var(--color);
  }
  p a {
    color: var(--primary);
  }
  @media (max-width: 450px) {
    p {
      font-size: small;
    }
  }
</style>
