



---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/ExperienceCard.astro";
---

<Layout title="Experience - Amna Rafi">
  <main>
    <h2>Employment History</h2>
    <h2>I have gained hands-on experience by working across diverse domains</h2>
    <p style="max-width: 80ch;">
      I enjoy being part of collaborative environments where ideas flow freely, and everyone contributes to building meaningful products. Transparency, adaptability, and open communication are values I deeply appreciate, as they foster creativity, teamwork, and impactful outcomes.
    </p>

    <Experience
      title="Web Development Intern at Web3gle, Lahore"
      description="Collaborated with a dynamic team to build modern web solutions, strengthening teamwork and project alignment. Gained hands-on web development experience and industry insights through real-world project contributions."
      subtitle="June 2024 – August 2024"
      image="/images/web3gle.jpeg"
    />

    <Experience
      title="Product Design Intern at The Essential Studios, Islamabad"
      description="I was involved in the entire design cycle of digital products including user experience and interface design as well as visual consistency. I worked closely with cross-functional teams to create intuitive, user-focused solutions that align with the brand’s vision while maintaining both functionality and aesthetics."
      subtitle="June 2024 – August 2024"
      image="/images/essential_studio.jpeg"
    />

    <Experience
      title="Web Development Intern at CodeAlpha"
      description="It offered practical experience and greatly enhanced my comprehension of fundamental web technologies. The position focused on hands-on application, enabling me to develop real-world projects while acquiring new frameworks and honing current abilities in MERN stack. This opportunity not only enhanced my technical skills but also refined my problem-solving capabilities and equipped me to make valuable contributions to upcoming development teams."
      subtitle="May 2024 – August 2024"
      image="/images/code_alpha.jpeg"
    />
  </main>
</Layout>

<style>
  h2 {
    color: var(--color);
  }
  p {
    margin-bottom: 2rem;
    color: var(--color);
  }
</style>